html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--header-height: 3rem;
	--background-color-darkest: #151d21;
	--background-color-dark: #223038;
	--background-color-light: #304550;
	--background-color-lightest: #3e5a68;
	--text-color: #fff;
	--text-color-link: #fcc878;
}

body {
	margin: 1rem;
	background-color: var(--background-color-dark);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--text-color);
	background-color: var(--background-color-light);
}

a {
	color: var(--text-color-link);
	text-decoration: underline;
}
